<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # หากมีการเรียกไฟล์ที่อยู่ในโฟลเดอร์ public อยู่แล้ว ให้หยุดทำกฎข้อล่าง
    RewriteCond %{REQUEST_URI} ^/public/
    RewriteRule ^ - [L]

    # ส่งการเรียกใช้งานที่เหลือไปที่โฟลเดอร์ public
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>