View	Create View	character_set_client	collation_connection
v_users_full	CREATE ALGORITHM=UNDEFINED DEFINER=`root`@`localhost` SQL SECURITY DEFINER VIEW `v_users_full` AS select `u`.`user_id` AS `user_id`,`u`.`username` AS `username`,`u`.`name` AS `name`,`u`.`email` AS `email`,`u`.`password` AS `password`,`u`.`prefix_id` AS `prefix_id`,`u`.`first_name` AS `first_name`,`u`.`last_name` AS `last_name`,`u`.`phone` AS `phone`,`u`.`role` AS `role`,`u`.`department_id` AS `department_id`,`u`.`position` AS `position`,`u`.`profile_image` AS `profile_image`,`u`.`line_user_id` AS `line_user_id`,`u`.`line_display_name` AS `line_display_name`,`u`.`line_picture_url` AS `line_picture_url`,`u`.`line_linked_at` AS `line_linked_at`,`u`.`avatar` AS `avatar`,`u`.`role_id` AS `role_id`,`u`.`status` AS `status`,`u`.`last_login` AS `last_login`,`u`.`created_at` AS `created_at`,`u`.`updated_at` AS `updated_at`,`p`.`prefix_name` AS `prefix_name`,`d`.`department_name` AS `department_name`,`d`.`department_code` AS `department_code` from ((`users` `u` left join `prefixes` `p` on(`u`.`prefix_id` = `p`.`prefix_id`)) left join `departments` `d` on(`u`.`department_id` = `d`.`department_id`))	utf8mb4	utf8mb4_general_ci
