/* Custom styles for Discover Rangsit */
.leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
    border-radius: 12px;
}
.leaflet-popup-content {
    margin: 0;
    width: 200px !important;
}
.leaflet-popup-tip-container {
    display: none;
}
.marker-cluster-small { background-color: rgba(0, 153, 51, 0.6); }
.marker-cluster-small div { background-color: rgba(0, 153, 51, 0.6); color: white; }
.marker-cluster-medium { background-color: rgba(30, 58, 138, 0.6); }
.marker-cluster-medium div { background-color: rgba(30, 58, 138, 0.6); color: white; }
.marker-cluster-large { background-color: rgba(15, 118, 110, 0.6); }
.marker-cluster-large div { background-color: rgba(15, 118, 110, 0.6); color: white; }
